	
body
	{
		background-color: black;
		color: #fff;
	}

h1
	{
		margin: 5% auto;
		color:white;
		text-align:center;
		height:auto;
	}

.Border
	{
		border-radius:25px;
		cell-padding:10px;
		text-align:center;
		margin:auto;
		color:white;
		border:1px solid white;
		position:relative;
		padding-top: 1%;
	}

.Fields
	{
		color:yellow;
	}

span
	{
		color:red;
	}

        
